<ion-header>
  <ion-navbar>
    <ion-title>Edit profile</ion-title>
    <ion-buttons start>
      <button ion-button (click)="onDismiss()" color="light">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row align-items-center>
    <ion-col text-center>
      <img class="avatar" src={{img}} *ngIf="!haveAva"/>
      <img class="avatar" src={{img}} *ngIf="haveAva"/>
    </ion-col>
  </ion-row>
  <ion-item text-center>
    <input type="file" name="file" id="file-input" (change)="setFile($event)">
    <label class="file-input-label" for="file-input" *ngIf="!file" style="color: #034F84">
      <ion-icon name="image" padding-right></ion-icon>
      Update profile photo
    </label>
    <label class="file-input-label" for="file-input" *ngIf="file" style="color: #00b07d">
      New profile photo added
      <ion-icon name="checkmark" padding-left></ion-icon>
    </label>
  </ion-item>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Full name</ion-label>
        <ion-input
          type="text"
          name="fullname"
          [ngModel]="user.full_name"
          required
          disabled
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Username</ion-label>
        <ion-input
          type="text"
          name="username"
          [ngModel]="user.username"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>New Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [ngModel]="user.password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Re-confirm new password</ion-label>
        <ion-input
          type="password"
          name="rePassword"
          ngModel
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input
          type="email"
          name="email"
          [ngModel]="user.email"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          About me
        </ion-label>
        <ion-textarea
          *ngIf="!haveAva"
          name="aboutme"
          ngModel
          autoresize
          [disabled]="!avaChange && !haveAva"
          required
        ></ion-textarea>
        <ion-textarea
          *ngIf="haveAva"
          name="aboutme"
          [ngModel]="currentAva.description"
          autoresize
          required
        ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button
              ion-button
              color="ok"
              block
              outline
              type="submit"
              [disabled]="!f.valid"
            >
              Save changes
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
