page-profile {
  ion-content {
    background: #ededed !important;

    .profile-top {
      width: 100%;
      margin: 0;
      padding-bottom: 16px;
      background-color: #ededed;
      .profile-photo {
        $photoSize: 128px;
        .avatar {
          object-fit: cover;
          width: $photoSize;
          height: $photoSize;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
    }

    .storyImg {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
      -webkit-filter: brightness(70%);
      filter: brightness(70%);
    }

    .storyCard{
      position: relative;
      text-align: center;
      .card-title {
        position: absolute;
        top: 50%;
        font-size: 1.5em;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        color: #fff;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .numStories {
      margin: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: color($colors, primary);
      font-weight: 500;
    }

    .username, .bio {
      font-size: 30px;
      color: color($colors, primary);
      font-weight: 500;
      margin: 0;
    }

    .bio {
      font-size: 16px;
      color: color($colors, secondary);
      margin: 0;
    }

    button {
      padding: 0 1.5rem !important;
    }
  }

  hr {
    border: 0;
    height: 1px;
    margin: 0;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }
}
