<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons start *ngIf="!isMe">
      <button ion-button (click)="onDismiss()" color="light">
        <span ion-text color="primary" showWhen="ios" style="color: white">Close</span>
        <ion-icon name="close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isMe">
      <button ion-button icon-only (click)="onSettings()" color="light">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="profile-top">
    <ion-row>
      <ion-col>
        <div class="profile-photo">
          <img class="avatar"
               src="http://2.bp.blogspot.com/-csl0wfrqxqk/UwzuEojb7DI/AAAAAAAAAIQ/QXtaXrJ4FVM/s1600/Harry_potter.jpg">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <p class="username" text-center>{{curUser.username}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-center margin-bottom>
          <button *ngIf="!isMe" ion-button icon-start round outline (click)="onSendEmail()">
            <ion-icon name="mail"></ion-icon>
            Contact Me
          </button>
          <button *ngIf="isMe" ion-button icon-start round outline (click)="onEditProfile()">
            <ion-icon name="create"></ion-icon>
            Edit Profile
          </button>
        </div>
      </ion-col>
    </ion-row>
    <hr/>
  </ion-card>

  <p class="numStories" text-center>{{numStories}} Stories</p>

  <hr/>

  <ion-row no-padding>
    <ion-col col-6 no-padding *ngFor="let story of stories">
      <ion-card (click)="onPresentSinglePostModal(story.file_id)">
        <img class="storyImg"
             src="{{mediaUrl + story.filename}}">
        <ion-card-content text-center>
          <hr/>
          <small>{{story.title|shorten}}</small>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
