
<ion-header>
  <ion-toolbar *ngIf="!calledFromProfile">
    <ion-buttons end>
      <button ion-button icon-only (click)="onRefresh()" color="light">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="defaultTab" (ionChange)="onSegmentChange($event)" color="light">
      <ion-segment-button value="discover">Discover
      </ion-segment-button>
      <ion-segment-button value="new">New
      </ion-segment-button>
      <ion-segment-button value="hot">Hot
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-navbar *ngIf="calledFromProfile">
    <ion-title>Story</ion-title>
    <ion-buttons start>
      <button ion-button (click)="onDismiss()" color="light">
        <span ion-text color="primary" showWhen="ios" style="color: white">Close</span>
        <ion-icon name="close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #ededed" padding>

  <ion-slides [loop]="!calledFromProfile" no-padding no-margin>
    <ion-slide *ngFor="let story of stories; let i = index">
      <ion-card class="card">
        <ion-row center align-items-center>
          <ion-col col-9 no-padding>
            <ion-item class="cardHeader" (click)="onGoToProfile(story.user_id)">
              <ion-avatar item-start>
                <img class="avatar"
                  src="http://2.bp.blogspot.com/-csl0wfrqxqk/UwzuEojb7DI/AAAAAAAAAIQ/QXtaXrJ4FVM/s1600/Harry_potter.jpg">
              </ion-avatar>
              <h2>{{story.username}}</h2>
            </ion-item>
          </ion-col>
          <ion-col col-3 no-padding *ngIf="enableSound()">
            <button *ngIf="!speaking" ion-button icon-only clear
                    (click)="onTextSpeech(story.title, story.description)">
              <ion-icon name="volume-up"></ion-icon>
            </button>
            <button *ngIf="speaking" ion-button icon-only clear
                    (click)="onTextSpeech('')">
              <ion-icon name="volume-off"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <hr/>

        <ion-scroll scrollY="true">

          <img class="storyImg"
               src="{{mediaUrl + story.filename}}">

          <ion-card-content>
            <h1>{{story.title}}</h1>
            <p class="story" text-left>{{story.description}}</p>
          </ion-card-content>
        </ion-scroll>
        <hr/>
        <ion-item>
          <ion-note item-left>{{story.likesCount}} likes</ion-note>
          <ion-note item-right="">{{story.commentCount}} comments</ion-note>
        </ion-item>
        <hr/>
        <ion-row>
          <ion-col col-4 center text-center>
            <button [color]="story.likedByUser ? 'liked' : 'secondary'" ion-button icon-left clear small style="text-transform: none;"
                    (click) = "onClickLike(story.file_id, i)">
              <ion-icon name="thumbs-up"></ion-icon>
              {{story.likedByUser ? 'Liked' : 'Like'}}
            </button>
          </ion-col>
          <ion-col col-4 center text-center>
            <button color="secondary" ion-button icon-left clear small style="text-transform: none;" (click)="onPresentCommentModal(story.file_id, i)">
              <ion-icon name="text"></ion-icon>
              Comment
            </button>
          </ion-col>
          <ion-col col-4 center text-center>
            <button color="secondary" ion-button icon-left clear small style="text-transform: none;"
                    (click)="onShare(story.description, story.title, mediaUrl + story.filename)">
              <ion-icon name="share-alt"></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
