page-home {
  .storyImg {
    display: block;
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }

  ion-scroll {
    height: 55vh;
    padding: 0px !important;
  }

  scroll-content {
    padding: 0px !important;
  }

  .like .comment {
    font-size: 15px;
  }
}
