page-home {
  ion-content {
    background: linear-gradient(to top, #333773, #003673);

  }

  .storyImg {
    display: block;
    height: 40vh;
    width: 100%;
    object-fit: cover;

  }

  .indicator {
    margin-top: 2px;
  }

  .avatar {
    object-fit: cover;
  }

  .card {
    width: 95%;
    height: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
  }

  ion-scroll {
    height: 55vh;
    padding: 0px !important;
  }

  scroll-content {
    padding: 0px !important;
  }

  .story-card {
    padding: 15px 0;
    p {
      font-size: 18px;
      text-indent: 10%;
      color: color($colors, light);
    }
    h1 {
      color: color($colors, light);
    }
  }

  .counts, .cardHeader {
    background-color: rgba(255, 255, 255, 0);
  }

  .cardHeader {
    h2 {
      font-weight: bold;
      color: color($colors, light);
      margin: 0;
    }
  }

  hr {
    border: 0;
    height: 1px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

}
