page-signin {

  .background {
    background-image: url("../../assets/imgs/Clear Sky.jpg");
    background-size: 100% 100%;

  }

  .logo {
    width: 70%;
    height: auto;
    max-width: 12em;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  span {
    color: white;
  }

  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: rgba(246, 246, 246, 0.1) !important;
    border: 1px solid rgba(246, 246, 246, 0.2) !important;
    font-size: 0.9em;
    ion-label {
      color: color($colors, textOnLight) !important;
    }
    ion-input {
      color: color($colors, textOnDark) !important;
    }
  }
  ion-list {
    margin: 0;
  }
  .login-button {
    width: 100%;
    // border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    background-color: #39acdc;
  }
}
