<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Nightlight</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #ededed" padding>
  <div class="post-content">
    <ion-row>
      <ion-col no-padding>
        <img class="story-photo" src="assets/imgs/camera_placeholder.png" *ngIf="!img"/>
        <img class="story-photo" src={{img}} *ngIf="img"/>
      </ion-col>
    </ion-row>
    <ion-item text-center>
      <input type="file" name="file" id="file-input" (change)="setFile($event)">
      <label class="file-input-label" for="file-input" *ngIf="!file" style="color: #034F84">
        <ion-icon name="image" padding-right></ion-icon>
        Add a photo
      </label>
      <label class="file-input-label" for="file-input" *ngIf="file" style="color: #00b07d">
        Photo added
        <ion-icon name="checkmark" padding-left></ion-icon>
      </label>
    </ion-item>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-list>
        <ion-item no-padding>
          <ion-input
            class="title"
            type="text"
            name="title"
            placeholder="STORY TITLE:"
            ngModel
            required
            text-center
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea
            class="content"
            name="description"
            placeholder="Your story begins here..."
            ngModel
            required
            autoresize
          ></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button
                ion-button
                block
                outline
                type="submit"
                [disabled]="!f.valid"
              >
                Share
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </div>
</ion-content>
