<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Night Light</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <img class="camera" src="assets/imgs/camera_placeholder.png" *ngIf="!img"/>
      <img class="camera" src={{img}} *ngIf="img"/>
    </ion-col>
  </ion-row>
  <ion-item>
    <input type="file" name="file" (change)="setFile($event)">
  </ion-item>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Title</ion-label>
        <ion-input
          type="text"
          name="title"
          ngModel
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          Story
        </ion-label>
        <ion-textarea
          name="description"
          ngModel
          required
          autoresize
        ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button
              ion-button
              block
              outline
              type="submit"
              [disabled]="!f.valid"
            >
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
