
<ion-header>
  <ion-navbar>
    <ion-title>Comments</ion-title>
    <ion-buttons start>
      <button ion-button (click)="onDismiss()" color="light">
        <span ion-text color="primary" showWhen="ios" style="color: white">Close</span>
        <ion-icon name="close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content" padding>
  <div *ngIf="comments?.length === 0">
    <h4>There are no comments yet</h4>
    <p>Be the first to comment</p>
  </div>
  <ion-list no-padding *ngIf="comments?.length > 0">
    <ion-item-sliding no-lines *ngFor="let comment of comments">
      <ion-item>
        <ion-avatar float-left>
          <img class="avatar"
               src="http://2.bp.blogspot.com/-csl0wfrqxqk/UwzuEojb7DI/AAAAAAAAAIQ/QXtaXrJ4FVM/s1600/Harry_potter.jpg"/>
        </ion-avatar>
        <div class="comment left" float-left>
          <h3>{{comment.username}}</h3>
          <span>{{comment.comment}}</span>
        </div>
      </ion-item>
      <ion-item-options side="right" *ngIf="comment.user_id == myId">
        <button ion-button color="Red" (click)="onDelete(comment.comment_id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar no-padding color="light">
    <ion-row>
      <ion-col col-10 no-padding>
        <ion-textarea type="text"
                      [(ngModel)]="comment"
                      rows="1"
                      [maxlength]="500"
                      [placeholder]="'Write a comment...'"
                      class="message-input" autoresize autocapitalize="off" block></ion-textarea>
      </ion-col>
      <ion-col no-padding text-right>
        <button ion-button (click)="postComment()" [disabled]="!comment || (comment && comment.length > textMaxLength)"
                class="button-send" small clear icon-only>
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
